:root {
    --heading-color: darkblue;
    --image-height: auto;
    --border-thickness: 1px;
    --subtle-color: black;
}

nav {
    background-color: var(--heading-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-color);
}

main {
    max-width: 900px;
}

main img {
    width: 150px;
    height: var(--image-height);
    border: var(--border-thickness) solid var(--subtle-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20%;
    margin: 2.5rem 0 3rem 2rem;
    border: var(--border-thickness) solid rgb(0 0 0 / 0.2);
    padding: 0.25rem 0 0 1rem;
    background-color: lightgoldenrodyellow;
    color: var(--subtle-color);
}

aside img {
    width: 200px;
    height: var(--image-height);
}

footer {
    margin-top: 5rem;
    border-top: var(--border-thickness) dotted var(--subtle-color);
    text-align: center;
}